# dependencies
node_modules/

# Next.js
.next/
out/

# production
build/

# local env files
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# OS/editor
.DS_Store
.vscode/
.idea/
